@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
:root{
    font-size: 10px;
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue-mainBG : hsl(217, 54%, 11%);/*()*/
--Verydarkblue-cardBG: hsl(216, 50%, 16%);
--Verydarkblue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
body{
    height: 100vh;
    background-color: var(--Verydarkblue-mainBG);
    display: flex;
   
    align-items: center;
    justify-content:center;
    color: var(--Soft-blue);
    font-family: 'Outfit', sans-serif;
}
.container .head{
    color: var(--White);
    font-weight: 600;
    font-size: 2rem;
    margin: 2.5rem 0rem;
    
}
div.head:hover{
    color: var(--Cyan);
}
.container{
    width: 35rem;
    height: 60rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--Verydarkblue-cardBG);
    border-radius: 1.5rem;
}
.texts{
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-flow: column nowrap;
    font-size: 18px;
    font-weight: 400;
}
.image{
    margin-bottom: 0rem;
    width: 300px;
    height:300px;
    position: relative;
    
}
.image img{
    width: 300px;
    height:300px;
    border-radius: 1rem;
}
.icon{
    display: flex;
    width: 300px;
    height:300px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: hsla(178, 100%, 50%,50%) ;
    border-radius: 1rem;
}
.icon{
    display: none;
}
.image:hover .icon{
    display: flex;
}
.icon img{
    width: 5rem;
    height: 5rem;
    float:left;
}
.container .texts hr{
  height: 0rem;
  width: 100%;
  margin: 0rem 0rem 1rem 0rem;
 border-color: var(--Verydarkblue-line);
}
.value .eth{
    color: var(--Cyan);
}
.container .value span{
    display: flex;
    align-items: center;
}
 
.container .creator{
    padding:.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.container .avt{
   width:3.5rem ; 
   height:3.5rem ;
   border: 0.2rem solid var(--White);
   border-radius: 50%;
}
.creator .hov{
    color: var(--White);
    padding-left: 0.5rem;

}
div.hov:hover{
    color: var(--Cyan);
}
.value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 15px;
}
.name{
    padding: 1.5rem;
    display: flex;   
}
